#autoCompleteBox {
  display: none;
  position: absolute;
  width: 80%;
  top: 42px;
  max-height: 120px;
  background-color: var(--txt-bg-color);
  overflow-x: scroll;
  margin: 0;
  padding: 6px;
  border: 1px solid var(--borders-color);
  border-radius: 10px;
}

#autoCompleteBox p {
  padding: 0;
  margin: 0;
}
