<<<<<<< HEAD
html,
body {
  width: 100%;
  height: 100%;
}

#divDineOutMain {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
=======
#divDineOutMain {
    height: 800px;
    width: 100%;
    display: none;
    flex-direction: column;
>>>>>>> c2b485d93920d7f65cc4349fb53b589fb16b527c
}

#divMap {
  height: 100%;
  width: 100%;
  background-color: grey;
  margin-top: 10px;
}

#divMapContainer {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
=======
    height: 400px;
    width: 100%;
>>>>>>> c2b485d93920d7f65cc4349fb53b589fb16b527c
}

#divRestaurantFilters {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#divRestaurantFilters label {
  font-size: x-large;
}

#divRestaurantFilters select {
  font-size: large;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid black;
  text-align: center;
}

#ulRestaurants {
  list-style-type: none;
  text-align: left;
  overflow: auto;
  max-height: 150px;
}

#divRestaurantInfo {
  display: flex;
  flex-direction: column;
}

#divPhotos {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 440px;
  list-style-type: none;
}

.review {
  max-height: 200px;
}

.photo {
<<<<<<< HEAD
  max-width: 200px;
  max-height: 150px;
}
=======
    max-width: 200px;
    max-height: 150px;
}

* {box-sizing:border-box}

/* Slideshow container */
#divPhotos {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default
*/
/*.mySlides {*/
/*    display: none;*/
/*}*/

.foodImage {
    max-height: 500px;
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {*/
/*    background-color: rgba(0,0,0,0.8);*/
/*}*/

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
>>>>>>> c2b485d93920d7f65cc4349fb53b589fb16b527c
