:root {
  --background-color: #f6f6f6;
  --txt-bg-color: white;
  --accent1-color: #df7c7c;
  --accent2-color: #7ccc7e; /* 78d47a */
  --nonactive-color: rgb(184, 184, 184);
  --borders-color: rgb(199, 199, 199);
  --borders-color-dark: rgb(126, 126, 126);
  --button-hover-background-color: #d5d9d9;

  --shadow-box: rgb(130, 130, 130);

  --ingredient-container-width: 70%;

  --font-family-h1: "Style Script", cursive;
  --font-family-h: "Cabin", sans-serif;
  --font-family-p: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-family-p);
}

html {
  display: table;
  margin: auto;
  /* overflow-x: hidden; */
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: var(--background-color);
  width: 100%;
  /* overflow-y: scroll; */
}

.button {
  font-family: var(--font-family-h);
  padding: 15px 40px;
  border-radius: 5px;
  font-size: x-large;
  cursor: pointer;
}

#mainDiv {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 800px;
  user-select: none;
  -webkit-user-select: none;
  min-height: 100vh;
}

/* header - text Hero */
#divTitle {
  font-family: var(--font-family-h1);
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

/* main content */
#contentWrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-bottom: 400px;
}

/* navigation menu */
#divButtons {
  border-radius: 10px;
  box-shadow: 0 10px 20px -15px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
#divButtons .button {
  background-color: var(--txt-bg-color);
  border: solid 2px var(--txt-bg-color);
}

#divButtons .button:hover {
  border-top: solid 2px var(--accent1-color);
  border-bottom: solid 2px var(--accent1-color);
  color: var(--accent1-color);
}

#btnDineOut {
  border-radius: 0;
}

#btnOrderOnline {
  border-radius: 0 11px 11px 0;
  padding-right: 100px;
}

#btnCookAtHome {
  border-radius: 11px 0 0 11px;
  padding-left: 100px;
}

/* search */
#divIngredients {
  display: none;
  margin-top: 40px;
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center; */
}
#inputContainer {
  margin: auto;
  display: flex;
  width: var(--ingredient-container-width);
  height: 40px;
}
#txtAddIngredient {
  font-size: 18px;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--borders-color);
  border-right: none;
  padding: 0 10px;
}
#btnAddIngredient {
  border-radius: 0 10px 10px 0;
  border: var(--borders-color);
  font-size: 18px;
  width: 120px;
  /* padding: 5px 35px 3px 25px; */
  background: var(--accent2-color);
  color: var(--txt-bg-color);
  cursor: pointer;
}
#btnAddIngredient:hover {
  background-color: var(--accent1-color);
}
#txtAddIngredient.error {
  border: solid 1px red;
}

#ulIngredients {
  /* display: flex;
  flex-direction: column;
  align-content: space-around; */
  list-style-type: none;
  width: var(--ingredient-container-width);
  margin: 30px auto;
  padding: 0;
}
.liIngredient {
  background-color: var(--txt-bg-color);
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: medium;
  font-weight: 550;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px 0 var(--shadow-box);
}

.ingredientListItem {
  margin-bottom: 8px;
  box-shadow: var(--shadow-box);
}

.removeImage {
  float: right;
  max-width: 100%;
  height: auto;
  width: 20px;
  padding-right: 8px;
}

#divSlider {
  display: flex;
  flex-direction: row;
  width: var(--ingredient-container-width);
  margin: auto;
  touch-action: none;
}
#rngFilter {
  width: 100%;
  background-color: var(--background-color);
  /* padding-right: 5px; */
}

#lblRangeFilter {
  border-radius: 50%;
  margin-left: 6px;
  background-color: var(--txt-bg-color);
  border: 1px solid var(--borders-color);
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

#divFilters {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  justify-content: center;
}
#divFilters .spaceBetween {
  display: block;
  width: 40px;
}

.chkFilter {
  /* margin-right: 50px;
  margin-bottom: 20px; */

  border: 2px solid var(--txt-bg-color);
  box-shadow: 0 0 0 1px var(--accent2-color);
  appearance: none;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: var(--txt-bg-color);
  transition: all ease-in 0.2s;
}
.chkFilter:checked {
  background-color: var(--accent2-color);
}

#divFindRecipesButton {
  text-align: center;
  margin-top: 20px;
}

#btnFindRecipes {
  border-radius: 10px;
  border: 1px solid var(--borders-color);
  font-size: large;
  height: 40px;
  /* padding: 5px 35px 3px 25px; */
  background: var(--accent2-color);
  width: 30%;
  color: var(--txt-bg-color);
  cursor: pointer;
}
#btnFindRecipes:hover {
  background-color: var(--accent1-color);
}
/* Content - Recipes */
#divRecipes {
  display: none;
}

#removeButton {
  background-color: transparent;
  border: none;
  font-size: large;
}

/* Footer */
#divLogo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#imgLogo {
  margin: auto;
  max-width: 400px;
  max-height: 400px;
}
#gitHubLogo,
a {
  margin: 10px auto 20px;
  height: 20px;
  width: 20px;
}

@media (max-width: 650px) {
  #divTitle {
    margin-top: 30px;
  }

  #divButtons {
    flex-direction: column;
    width: 90%;
  }

  .button {
    padding: 15px 40px;
    border-radius: 11px;
    font-size: large;
    width: 90%;
  }

  #btnOrderOnline {
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  #btnDineOut {
    border-radius: 10px;
    margin: 10px 0;
  }

  #btnCookAtHome {
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  #imgLogo {
    max-width: 300px;
    max-height: 300px;
  }

  #divLogo {
    margin-left: -30px;
  }

  #btnFindRecipes {
    width: 100%;
  }

  #txtAddIngredient {
    width: 90%;
    border-radius: 10px;
    min-width: 0;
  }

  #btnAddIngredient {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 540px) {
  #divTitle {
    font-size: 60px;
  }
}

@media (max-width: 430px) {
  #divTitle {
    font-size: 50px;
  }
}

@media (max-width: 360px) {
  #divTitle {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  #divTitle {
    font-size: 30px;
  }
}